In [2]:
input("Give you country name:")

Give you country name:India

'India'

In [6]:
dob=input("Birth year")

Birth year 2000

In [8]:
age = 2023 - 2000
print("your age:",age)

your age: 23

In [9]:
int(12.3)

12

In [11]:
int(float(123.456))

123

In [12]:
str(123)

'123'

In [13]:
x = 7
print(x)
print(x+3)
print(x)

7
10
7

In -PLACE OPERATORS

In [15]:
a=9
a+=2
print(a)

11

In [18]:
language ="R"
Languages+="+Python"
Language+="make our analysis easier"
print(language)

NameError: name 'Languages' is not defined

In [1]:
!python3 if.py

Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.

In [9]:
num = 7
if num == 5:
else:
    if num == 11:
    print("number is 11")    
else:
    if num == 7:
    print("number is 7")
else:
    print("number isn't 5,11 or 7")

IndentationError: expected an indented block (2761506787.py, line 3)

In [7]:
not 1==1

False

In [8]:
not 1>7

True

# While Loop

In [10]:
i = 1
while i <=5:
    print(i)
    i = i + 1

1
2
3
4
5

while condition:
    #execute these statements
else:
    # execute these statements

In [12]:
count = 0
while (count < 3):
     count = count + 1
     print("Hello Python")
else:
    print("put in else block")

Hello Python
Hello Python
Hello Python
put in else block

# Infinte Loop

In [13]:
n = 4
for i in range(0,n):
    print(i)

0
1
2
3

In [16]:
#Python program to demonstrate creation of Array

#importing "array" for array creations
import array as arr

#crating an array with integer type
a = arr.array('i',{1,2,3})

#printing original array
print("the new created array  is : ", end=" ")
for i  in range(0, 3):
    print(a[i],end=" ")
    print()

the new created array  is :  1
2
3

In [20]:
b = arr.array('d',[2.5,3.2,3.3])
print("\nThe new created array is: ", end=" ")
for i in range (0,3):
    print(b[i], end=" ")

The new created array is:  2.5 3.2 3.3

# ADDING ELEMENT TO  ARRAY

In [25]:
a.insert(1,4)
print(a)

array('i', [1, 4, 4, 4, 4, 4, 2, 3])

In [27]:
b.append(4,4)

TypeError: array.append() takes exactly one argument (2 given)

In [28]:
print(b)

array('d', [2.5, 3.2, 3.3])

# List

In [39]:
List = [1,2,3,"ABC",2.3]

In [42]:
print(list)

[1, 2, 3, 'ABC', 2.3]

# Multi dimensional List

In [43]:
List2 = [['Python','For'],['Analytics']]
print("\nMulti-Dimensional List: ")
print(List2)

Multi-Dimensional List:
[['Python', 'For'], ['Analytics']]

# Accessing an element from the list using the index number

In [3]:
print("Accessing  element from the list:")
print

Accessing  element from the list:

# LEARNING DATA STRUCTURE  WITH PYTHON

ARRAY

In [5]:
import array as arr

In [7]:
a = arr.array('i',[1,2,3])

In [21]:
print("The new created array is:", end=" ")
for i in range (0,3):
     print(a[i],end=" ")
print()

The new created array is: 1 4 2

In [13]:
b = arr.array('d',[2.5,3.2,3.3])

In [17]:
print("\nThe new created array is ",end=" ")
for i in range(0,3):
    print(b[i], end=" ")

The new created array is  2.5 3.2 3.3

In [22]:
print("Array after insertion:", end=" ")
for i in  (a):
     print(i,end=" ")
print()

Array after insertion: 1 4 2 3

In [19]:
a.insert(1,4)

In [20]:
print("Array after insertion:", end=" ")
for i in  (a):
     print(i,end=" ")
print()

Array after insertion: 1 4 2 3

In [25]:
b.append(4.4)

In [26]:
print("Array after insertion:", end=" ")
for i in  (b):
     print(i,end=" ")
print()

Array after insertion: 2.5 3.2 3.3 4.4

# ACCESSING THE ELEMENT

In [27]:
import array as arr

In [28]:
a= arr.array('i',[1,2,3,4,5,6])

In [29]:
print("Access element is:",a[0])

Access element is: 1

In [30]:
print("Access element is:",a[3])

Access element is: 4

# REMOVING ELEMENTS FROM  ARRAY

In [31]:
import array

In [32]:
arr= array.array('i',[1,2,3,1,5])

In [33]:
print("The new created array is :",end=" ")
for i in range(0,5):
    print(arr[i],end=" ")

The new created array is : 1 2 3 1 5

# ARRAY REMOVAL BY USING POP FUNCTION

In [36]:
print("The popped element is :",end=" ")
print(arr.pop(2))

The popped element is : 3

In [38]:
print("The popped element is :",end=" ")
for i in range(0,4):
    print(arr[i],end=" ")
print("\r")

The popped element is : 1 2 1 5

# REMOVE FUNCTION

In [39]:
arr.remove(1)

In [40]:
print("The array after removing  is :",end=" ")
for i in range(0,3):
    print(arr[i],end=" ")

The array after removing  is : 2 1 5

# LIST

In [41]:
List = [1,2,3,"ABC",2.3]
print(List)
type(list)

[1, 2, 3, 'ABC', 2.3]

type

In [42]:
List[3]

'ABC'

In [44]:
List[0:2]

[1, 2]

In [45]:
List[0:4]

[1, 2, 3, 'ABC']

# creating list with multiple values

In [49]:
List = ["Python","For","Analytics"]
print("\nList containing multiple values: ")
print("\n",List)

List containing multiple values:

 ['Python', 'For', 'Analytics']

# MULTI-DIMENSIONAL LIST

In [51]:
List2 = [['Python','For'],['Analytics']]
print("\nMulti-Dimensional List: ")
print(List2)

Multi-Dimensional List:
[['Python', 'For'], ['Analytics']]

# ACCESSING AN ELEMENT FROM THE LIST USING INDEX NUMBER

In [53]:
print("Accessing element from the list:")
print(List[0])
print(List[2])

Accessing element from the list:
Python
Analytics

# CREATING THE SIZE OF PYTHON LIST

In [58]:
List1 = []
print(len(List1))

0

In [59]:
string = input("Enter elements (space-separated): ")

Enter elements (space-separated): Aakash,Raghav,Rahul

In [63]:
lst = string.split()
print('The list is :', lst)

The list is : ['Aakash,Raghav,Rahul']

In [67]:
List=[]
print("Initial blank List: ")
print(List)

Initial blank List:
[]

In [65]:
List.append(1)
List.append(2)
List.append(4)
print("\nList after addition of three elements:")
print(List)

List after addition of three elements:
[1, 2, 4]

In [68]:
List = [1,2,3,4]
print("Initial List: ")
print(List)

Initial List:
[1, 2, 3, 4]

In [69]:
List.insert(3,100)
List.insert(0,'Python for Analytics')
print("\nList after performing insert opertion: ")
print(List)

List after performing insert opertion:
['Python for Analytics', 1, 2, 3, 100, 4]

In [70]:
Dict = {1:'Python',2: 'For',3:'Ana;ytics'}
print(Dict)

{1: 'Python', 2: 'For', 3: 'Ana;ytics'}

In [71]:
Dict = {1:'Python',2: 'For',3:'Ana;ytics'}
print("\nDictionery with use of integer keys: ")
print(Dict)

Dictionery with use of integer keys:
{1: 'Python', 2: 'For', 3: 'Ana;ytics'}

In [73]:
Dict = {'Name':'Python',1:[1,2,3,4]}
print("\nDictionery with the use of mixed keys: ")
print(Dict)

Dictionery with the use of mixed keys:
{'Name': 'Python', 1: [1, 2, 3, 4]}

In [2]:
Dict = {1:'Python',2:'For',3:'Ana;ytics'}
print(Dict)

{1: 'Python', 2: 'For', 3: 'Ana;ytics'}

In [3]:
Dict

{1: 'Python', 2: 'For', 3: 'Ana;ytics'}

# CREATING DICTIONERY

In [5]:
Dict = {'Name': 'Python',1:[1,2,3,4]}
print("\nDictionery with the use of Mixed Keys:")
print(Dict)

Dictionery with the use of Mixed Keys:
{'Name': 'Python', 1: [1, 2, 3, 4]}

In [10]:
Dict = {1:'Python',2:'For',3:'Anaytics',4 : {'A':'Welcome','B':'To  create Dictionery','C':'Python'}}
print(Dict)

{1: 'Python', 2: 'For', 3: 'Anaytics', 4: {'A': 'Welcome', 'B': 'To  create Dictionery', 'C': 'Python'}}

In [11]:
Dict={}

In [12]:
print("Empty Dictionery: ")
print(Dict)

Empty Dictionery:
{}

In [13]:
Dict[0] = 'Python'
Dict[1] = 'For'
Dict[2] = 'Anaytics'
print("\nDIctionery after adding 3 elements:")
print(Dict)

DIctionery after adding 3 elements:
{0: 'Python', 1: 'For', 2: 'Anaytics'}

In [14]:
Dict['value_set']=2,3,4
print("\nDIctionery after adding 3 elements:")
print(Dict)

DIctionery after adding 3 elements:
{0: 'Python', 1: 'For', 2: 'Anaytics', 'value_set': (2, 3, 4)}

In [16]:
Dict[3] = 'Welcome to Python Sessoions'
print("\nupdated key value:")
print(Dict)

updated key value:
{0: 'Python', 1: 'For', 2: 'Anaytics', 'value_set': (2, 3, 4), 3: 'Welcome to Python Sessoions'}

In [18]:
Dict[5] = {'Nested': {'1':'Smart','2':'Analytics'}}
print("\nAdding a Nested key:")
print(Dict)

Adding a Nested key:
{0: 'Python', 1: 'For', 2: 'Anaytics', 'value_set': (2, 3, 4), 3: 'Welcome to Python Sessoions', 5: {'Nested': {'1': 'Smart', '2': 'Analytics'}}}

In [19]:
Dict = {1:'Python',2:'For',3:'Anlaytics','Keyname':'Smart Analytics'}

In [21]:
print("Accessig a element using the key name:")
print(Dict['Keyname'])

Accessig a element using the key name:
Smart Analytics

In [23]:
print("Accessig a element using get:")
print(Dict[1])

Accessig a element using get:
Python

In [22]:
print("Accessig a element using get:")
print(Dict.get(3))

Accessig a element using get:
Anlaytics

# ACCESSING AN ELEMENT OF A NESTED DICTIONERY

In [24]:
Dict ={'Dict1': {1:'Python'},'Dict2':{'Name':'For'},'Dict3':{2:'Anaytics'}}

In [25]:
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])
print(Dict['Dict3'][2])

{1: 'Python'}
Python
For
Anaytics

In [ ]:
# Dict = {1:'Python','name':'For',3:'Analytics'}
print("Dictionery=")
print(Dict)

In [27]:
del(Dict[1])
print("Data after deletion Dictionary=")
print(Dict)

Data after deletion Dictionary=
{'name': 'For', 3: 'Analytics'}

# CREATING TUPLE

In [29]:
var = ("Python","For","Analytics")
print(var)

('Python', 'For', 'Analytics')

In [30]:
type(var)

tuple

In [50]:
from typing import Tuple, Union
values: Tuple[Union[int, str], ...] = (1, 2, 4, "Python For Analytics")
print(values)

(1, 2, 4, 'Python For Analytics')

In [37]:
mytuple = ("Python for Analytics",)
print(mytuple)

('Python for Analytics',)

In [48]:
mytuple = ("Python for Analytics",)
print(type(mytuple))

<class 'tuple'>